@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    
    <form method="POST">
        <input type="text" asp-for="num1">
        <input type="text" asp-for="num2">

        <input type="submit" />
    </form>


    
    <p>@Model.Num3</p>
</div>
